# Ignore all native and platform-specific code
android/** linguist-vendored
ios/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored
linux/** linguist-vendored
web/** linguist-vendored

# Force GitHub to treat Dart as the main language
lib/** linguist-language=Dart

